<!-- src/app/components/admin-dashboard/admin-dashboard.component.html -->

<div class="admin-dashboard">

  <div class="dashboard-container">
    <h2>Bienvenue au Tableau de Bord</h2>
    <button (click)="logout()">Se Déconnecter</button>
  </div>

  <h2>Tableau de Bord Administratif</h2>

  <h3>Liste des Réservations</h3>
  <table>
    <tr>
      <th>Salle</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Utilisateur</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.salle.nom }}</td>
      <td>{{ reservation.start_time }}</td>
      <td>{{ reservation.end_time }}</td>
      <td>{{ reservation.email }}</td>
      <td>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
      </td>
    </tr>
  </table>

  <h3>Liste des Utilisateurs</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - Role: {{ user.role }}
    </li>
  </ul>
</div>