<!-- src/app/components/reservation/reservation.component.html -->

<div class="reservation-container">
    <h2>Faire une Réservation</h2>
    <form (ngSubmit)="makeReservation()">
        <label for="salle">Salle:</label>
        <select [(ngModel)]="reservationData.salle_id" name="salle" required>
            <option *ngFor="let salle of salles" [value]="salle.id">{{ salle.nom }}</option>
        </select>

        <label for="start_time">Début:</label>
        <input type="datetime-local" [(ngModel)]="reservationData.start_time" name="start_time" required />

        <label for="end_time">Fin:</label>
        <input type="datetime-local" [(ngModel)]="reservationData.end_time" name="end_time" required />

        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="reservationData.email" name="email" required />

        <label for="preferences">Préférences:</label>
        <textarea [(ngModel)]="reservationData.preferences" name="preferences"></textarea>

        <label for="resources">Ressources:</label>
        <textarea [(ngModel)]="reservationData.resources" name="resources"></textarea>

        <button type="submit">Réserver</button>
    </form>

    <h2>Réservations</h2>
    <div *ngFor="let reservation of reservations">
        <h3>{{ reservation.salle.nom }}</h3>
        <p>Date et heure: {{ reservation.start_time }} - {{ reservation.end_time }}</p>
        <p>Préférences: {{ reservation.preferences }}</p>
        <p>Ressources: {{ reservation.resources }}</p>
    </div>
</div>

<full-calendar [options]="calendarOptions"></full-calendar>